.welcome-student {
  position: absolute;
  width: 395px;
  height: 55px;
  left: 1px;
  top: 150px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  color: #317EAC;
}